//
//   media queries 
//

@media screen and (max-width: 31.25em) {
    .container__info {
        width: 100%;
    }
    .container__info__description {
        display: none;
    }
    span {
		display: none;
    }

    label {
    	font-size: 1.4em;
    }

    main {
    	transform: translate(0, 5%);
    }
}

