/*************************************************
*
*   Css Tabs Stylesheet
*
*************************************************/

//
//  Colors
//

$bg-color: #3c434b; 
$tab-bg-color: #202123;
$tab-highlight-color: #fff;
$highlight-color: #f56b5e;
$container-color: #fff;
$light-grey: #ebebeb;
$font-color: #5e5e60;

//
//  Social Colors
//

$fb-color:#4d79c2;
$gplus-color:#4e4f54;
$twitter-color:#5bccf4;
$lin-color:#90cade;
$skype-color:#5bccf4;

//
// Fonts 
//

$font-size: 16px;
$line-height: 1.25em;
$font-family-1: 'Poppins', sans-serif;
$font-family-2: 'Nunito', sans-serif;




